<h1>Listing boooooooks</h1>

<table>
  <tr>
    <th>Desc</th>
    <th>Memo</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boooooooks.each do |boooooook| %>
  <tr>
    <td><%= boooooook.desc %></td>
    <td><%= boooooook.memo %></td>
    <td><%= boooooook.published %></td>
    <td><%= link_to 'Destroy', 'boooooooks/' + boooooook.id.to_s, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boooooook', 'boooooooks/new' %>
