<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @boooooook.desc %>
</p>

<p>
  <b>Memo:</b>
  <%= @boooooook.memo %>
</p>

<p>
  <b>Published:</b>
  <%= @boooooook.published %>
</p>


<%= link_to 'Edit', edit_boooooook_path(@boooooook) %> |
<%= link_to 'Back', boooooooks_path %>
