<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Memo</th>
    <th>Purchased on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><ul><%= render partial: 'memo_view', collection: book.memo, as: :memo %></ul></td>
    <td><%= book.purchased_on %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
