<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @book.purchase_date %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'View Memos', book_memos_path(@book) %>|
<%= link_to 'Back', books_path %>
