<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Memo:</b>
  <%= @book.memo %>
</p>

<p>
  <b>Purchased on:</b>
  <%= @book.purchased_on %>
</p>

<%= render 'memos/index' %>
<%= render 'memos/form' %>

<%= link_to 'Back', books_path %>
