<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Memo:</b>
  <div><%= @book.memo %></div>
  <% @book.memos.each do |m| %> 
    <div>
      <%= m.text %> |
      <%= link_to "delete", book_memo_path(:book_id => @book.id, :id => m.id), :confirm => "OK？", :method => :delete %>
    </div>
  <% end %>
</p>
<p>
  <b>Purchased on:</b>
  <%= @book.purchased_on %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |
<%= link_to 'add memo', new_book_memo_path(@book) %>
