<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Memo:</b>
  <%= @book.memo %>
</p>

<p>
  <b>Purchased on:</b>
  <%= @book.purchased_on %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Add memo', new_book_memo_path(@book) %>
<%= link_to 'Back', books_path %>
