<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Memo:</b>
  <%= @book.memo %>
  <% @book.memos.each do |memo| %>
  <span><%= memo.body %></span>
  <span><%= link_to 'delete", book_memo_path(:book_id => @book.id, :id => memo.id), :confirm => 'Are you sure?', :method => :delete %></span>
  <% end %>
</p>

<p>
  <b>Purchased on:</b>
  <%= @book.purchased_on %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |
<%= link_to 'Add memo', new_book_memo_path(@book) %>
