<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @memo.book %>
</p>

<p>
  <b>Body:</b>
  <%= @memo.body %>
</p>


<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
